form {
    max-width: 317px;
    max-width: 500px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    & > * {
        grid-column: 1 / span 2;
        &:nth-child(4){
            grid-column: 1 / span 1;
        }
        &:nth-child(5){
            grid-column: 2/span 1;
        }
    }
}

.create-form__field-error {
    color: var(--red-500);
    font-size: 12px;
    width: 100%;
    padding: 2px;
    background: #ffffffaa;
    backdrop-filter: blur(2px);
    border-radius: 4px;
}